streamlit

langchain

langchain-core

langgraph

langchain-community

langchain-openai

langchain-groq

langchain-qdrant

qdrant-client

pypdf

python-dotenv

tiktoken

sentence-transformers

langchain-text-splitters

watchdog
langchain-huggingface